[submodule "public/autograder"]
	path = public/autograder
	url = git://github.com/emmableu/lambda-evaluator.git
[submodule "public/snap"]
	path = public/snap
	url = git://github.com/emmableu/Snap--Build-Your-Own-Blocks.git
