/ .table
/   table.table.table-striped
/     thead
/       tr
/         th Task
/         th parsons problem xmlfile
/
/     tbody
/       tr
/         td.vert-align =  "#{@task.title}"
/         td.vert-align =  "#{@task.ppxmlfile}"