- blockarray = @task.testscript.blockarray
/ - blockarray.sub!('\"', '')
/ - blockarray.sub!('', '')
- blockarray = blockarray.split(',')



/ h1
/    | #{blockarray}

= form_for edit_task_path, html: {class: 'form-horizontal'} do |f|
  - f.select :@task.scriptorder, blockarray