<style type="text/css">

  body {
    overflow: hidden;
    padding-top: 50px;
    margin: 0;
  }

  #numtips {
    font-variant: small-caps;
    font-weight: bold;
  }

  span.task-title {
    font-weight: bold;
    font-family: serif;
    font-variant: small-caps;
    color: #003A70;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>


<!-- TODO: Remove LLAB Stuff -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="ag-header">
  <div class="container-fluid">
    <div class="navbar-left" id="autograding_bar">
      <div class="navbar-brand">
        <span class="task-title">Exercise: <%= @task.title %></span>
      </div>
      <div class="navbar-header">
        <div class="btn-toolbar" role="group" aria-label="...">
          <div class="nav-btns btn-group">
          <div class="nav-btns btn-group">
            <button class="btn btn-info navbar-btn" id="savescript_button">

              Save Script
            </button><!-- /dropdown -->
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "Tasks Menu", tasks_path %>

            </li>
            <li>
              <%= link_to "Specify details", scriptarraytwo_task_path %>

            </li>


            <!--            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
          </ul>
        </div> 
      </div>
    </div>
  </div>
</nav>

