<style type="text/css">
  span.task-title {
    font-size: 30px;
    font-weight: bold;
    font-family: serif;
    font-variant: small-caps;
    color: #f2ff2d;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #0c1021
  }
  .navbar{
    background-color: #0c1021
  }
</style>


<!-- TODO: Remove LLAB Stuff -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="ag-header">
  <div class="container-fluid">
    <div class="navbar-left" id="autograding_bar">
      <div class="navbar-brand">
        <span class="task-title">Tasks</span>
      </div>
      </div>
    </div>
  </div>
</nav>

